<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chicago Architecture</title>
</head>
<body>
    <!-- First message that welcomes the readers -->
    <p th:text="${message}"></p>

    <!-- List of sights in Millennium Park -->
    <h2>Millennium Park</h2>
    <ul>
        <li th:each="location : ${millenniumPark}"
            th:text="${location}">
            Area Placeholder
        </li>
    </ul>

    <!-- Basic information about the website and myself -->
    <h1>What is this website?</h1>
    <p>This website is your ultimate guide to exploring 200 of Chicago's most
        stunning architectural masterpieces. This website organizes these
        buildings by geographical area, so you can easily find the most notable
        structures near you. Each entry provides detailed information, photos,
        and interesting facts, making it simple to discover the city's rich
        architectural landscape.</p>
    <h1>What inspired me to create this website?</h1>
    <p>This website was inspired by my love for Chicago's architecture and the
        book "Guide to Chicago's Twenty-First-Century Architecture." As someone
        who has always been captivated by the blend of historic and modern
        design in the city, I wanted to share that passion with others in a way
        that’s both engaging and accessible. This site is a way to bring the
        beauty and diversity of Chicago’s buildings to life, giving everyone
        a chance to explore the city's architectural wonders on their own
        terms.</p>
    <h1>Who am I?</h1>
    <p>I’m a software developer with a passion for architecture and technology.
        In my free time, I enjoy staying active with exercise and engaging in
        thoughtful games of chess. I’m currently seeking new opportunities in
        the tech field and am open to exciting work prospects.</p>

</body>
</html>