<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chicago Architecture</title>
</head>
<body>
    <!-- First message that welcomes the readers -->
    <p th:text="${message}"></p>

    <!-- List of sights in Millennium Park -->
    <h2>Millennium Park</h2>
    <ul>
        <li th:each="location : ${millenniumPark}"
            th:text="${location}">
            Area Placeholder
        </li>
    </ul>

    <!-- Link to the about page -->
    <a href="/about" th:href="@{/about}">About</a>

</body>
</html>