<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chicago Architecture</title>
</head>

<body>
    <h1>What is this website?</h1>
    <p>This website allows you to find beautiful architectural places in the greater Chicago
        area. Currently, you can search for buildings by location, or you can manually search
        for them based on which named district that they reside in.</p>

    <h2>Search by City</h2>
    <form action="#" th:action="@{/search}" method="post">
        <label for="city">Search by City:</label>
        <select name="city" id="city" required>
                <option value="" disabled selected>Select a city</option>
                <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
        </select>
        <button type="submit" style="padding: 8px 12px">Enter</button>
    </form>

    <h2>Manual Search</h2>
    <ul>
        <li th:each="district: ${chicagoDistricts}">
            <a th:href="@{'region/' + ${district.value}}"
               th:text="${district.key}"></a>
        </li>
    </ul>

    <h2>Personal Recommendations</h2>
    <a href="/personal_recommendations" th:href="@{/personal_recommendations}">Cool finds in Chicago</a>

    <h2>Author</h2>
    <a href="/about" th:href="@{/about}">About</a>

    <h2>Bootstrap demo</h2>
    <a href="/bootstrap-demo" th:href="@{/bootstrap-demo}">Testing for website</a>
</body>
</html>