<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>North Suburbs</title>
</head>

<body>
    <h1>Suburbs - North Suburbs!</h1>
    <ol>
        <li th:each="architectualElement : ${northSuburbsArchitecture}">
            <p th:text="${architectualElement}"></p>
        </li>
    </ol>
    <h1>Listing buildings using Java classes</h1>
    <ol th:number="1">
        <li th:each="building : ${buildings}">
            <p th:text="${building.getName()}"></p>
            <p th:text="${building.getAddress() + ', ' +
                          building.getCity() + ' (' +
                          building.getCreationYear() + ')'}"></p>
        </li>
    </ol>
</body>
</html>